@import 'tachyons';
@import 'tachyons-svg';

/* Let's do colours */
:root {
  --foreground: #f6f6f6;
  --background: #202020;
  --primary: #2685bf;
  --error: #f0441e;

  --text-normal: var(--foreground);
  --text-reversed: var(--background);

  --foreground-100: color(var(--foreground) shade(0%));
  --foreground-90: color(var(--foreground) shade(10%));
  --foreground-80: color(var(--foreground) shade(20%));
  --foreground-70: color(var(--foreground) shade(30%));
  --foreground-60: color(var(--foreground) shade(40%));
  --foreground-50: color(var(--foreground) shade(50%));
  --foreground-40: color(var(--foreground) shade(60%));
  --foreground-30: color(var(--foreground) shade(70%));
  --foreground-20: color(var(--foreground) shade(80%));
  --foreground-10: color(var(--foreground) shade(90%));
  --foreground-05: color(var(--foreground) shade(95%));
  --foreground-025: color(var(--foreground) shade(97.5%));
  --foreground-0125: color(var(--foreground) shade(98.75%));

  --background-100: color(var(--background) tint(0%));
  --background-90: color(var(--background) tint(10%));
  --background-80: color(var(--background) tint(20%));
  --background-70: color(var(--background) tint(30%));
  --background-60: color(var(--background) tint(40%));
  --background-50: color(var(--background) tint(50%));
  --background-40: color(var(--background) tint(60%));
  --background-30: color(var(--background) tint(70%));
  --background-20: color(var(--background) tint(80%));
  --background-10: color(var(--background) tint(90%));
  --background-05: color(var(--background) tint(95%));
  --background-025: color(var(--background) tint(97.5%));
  --background-0125: color(var(--background) tint(98.75%));

  --primary-100: color(var(--primary) shade(0%));
  --primary-90: color(var(--primary) shade(10%));
  --primary-80: color(var(--primary) shade(20%));
  --primary-70: color(var(--primary) shade(30%));
  --primary-60: color(var(--primary) shade(40%));
  --primary-50: color(var(--primary) shade(50%));
  --primary-40: color(var(--primary) shade(60%));
  --primary-30: color(var(--primary) shade(70%));
  --primary-20: color(var(--primary) shade(80%));
  --primary-10: color(var(--primary) shade(90%));
  --primary-05: color(var(--primary) shade(95%));
  --primary-025: color(var(--primary) shade(97.5%));
  --primary-0125: color(var(--primary) shade(98.75%));

  --error-100: color(var(--error) alpha(100%));
  --error-90: color(var(--error) alpha(90%));
  --error-80: color(var(--error) alpha(80%));
  --error-70: color(var(--error) alpha(70%));
  --error-60: color(var(--error) alpha(60%));
  --error-50: color(var(--error) alpha(50%));
  --error-40: color(var(--error) alpha(40%));
  --error-30: color(var(--error) alpha(30%));
  --error-20: color(var(--error) alpha(20%));
  --error-10: color(var(--error) alpha(10%));
  --error-05: color(var(--error) alpha(5%));
  --error-025: color(var(--error) alpha(2.5%));
  --error-0125: color(var(--error) alpha(1.25%));

  --text-normal-100: color(var(--text-normal) shade(0%));
  --text-normal-90: color(var(--text-normal) shade(10%));
  --text-normal-80: color(var(--text-normal) shade(20%));
  --text-normal-70: color(var(--text-normal) shade(30%));
  --text-normal-60: color(var(--text-normal) shade(40%));
  --text-normal-50: color(var(--text-normal) shade(50%));
  --text-normal-40: color(var(--text-normal) shade(60%));
  --text-normal-30: color(var(--text-normal) shade(70%));
  --text-normal-20: color(var(--text-normal) shade(80%));
  --text-normal-10: color(var(--text-normal) shade(90%));
  --text-normal-05: color(var(--text-normal) shade(95%));
  --text-normal-025: color(var(--text-normal) shade(97.5%));
  --text-normal-0125: color(var(--text-normal) shade(98.75%));

  --text-reversed-100: color(var(--text-reversed) tint(0%));
  --text-reversed-90: color(var(--text-reversed) tint(10%));
  --text-reversed-80: color(var(--text-reversed) tint(20%));
  --text-reversed-70: color(var(--text-reversed) tint(30%));
  --text-reversed-60: color(var(--text-reversed) tint(40%));
  --text-reversed-50: color(var(--text-reversed) tint(50%));
  --text-reversed-40: color(var(--text-reversed) tint(60%));
  --text-reversed-30: color(var(--text-reversed) tint(70%));
  --text-reversed-20: color(var(--text-reversed) tint(80%));
  --text-reversed-10: color(var(--text-reversed) tint(90%));
  --text-reversed-05: color(var(--text-reversed) tint(95%));
  --text-reversed-025: color(var(--text-reversed) tint(97.5%));
  --text-reversed-0125: color(var(--text-reversed) tint(98.75%));
}

.foreground { color: var(--foreground); }
.foreground-100 { color: var(--foreground-100); }
.foreground-90 { color: var(--foreground-90); }
.foreground-80 { color: var(--foreground-80); }
.foreground-70 { color: var(--foreground-70); }
.foreground-60 { color: var(--foreground-60); }
.foreground-50 { color: var(--foreground-50); }
.foreground-40 { color: var(--foreground-40); }
.foreground-30 { color: var(--foreground-30); }
.foreground-20 { color: var(--foreground-20); }
.foreground-10 { color: var(--foreground-10); }
.foreground-05 { color: var(--foreground-05); }
.foreground-025 { color: var(--foreground-025); }
.foreground-0125 { color: var(--foreground-0125); }
.bg-foreground { background-color: var(--foreground); }
.bg-foreground-100 { background-color: var(--foreground-100); }
.bg-foreground-90 { background-color: var(--foreground-90); }
.bg-foreground-80 { background-color: var(--foreground-80); }
.bg-foreground-70 { background-color: var(--foreground-70); }
.bg-foreground-60 { background-color: var(--foreground-60); }
.bg-foreground-50 { background-color: var(--foreground-50); }
.bg-foreground-40 { background-color: var(--foreground-40); }
.bg-foreground-30 { background-color: var(--foreground-30); }
.bg-foreground-20 { background-color: var(--foreground-20); }
.bg-foreground-10 { background-color: var(--foreground-10); }
.bg-foreground-05 { background-color: var(--foreground-05); }
.bg-foreground-025 { background-color: var(--foreground-025); }
.bg-foreground-0125 { background-color: var(--foreground-0125); }
.b--foreground { border-color: var(--foreground); }
.b--foreground-100 { border-color: var(--foreground-100); }
.b--foreground-90 { border-color: var(--foreground-90); }
.b--foreground-80 { border-color: var(--foreground-80); }
.b--foreground-70 { border-color: var(--foreground-70); }
.b--foreground-60 { border-color: var(--foreground-60); }
.b--foreground-50 { border-color: var(--foreground-50); }
.b--foreground-40 { border-color: var(--foreground-40); }
.b--foreground-30 { border-color: var(--foreground-30); }
.b--foreground-20 { border-color: var(--foreground-20); }
.b--foreground-10 { border-color: var(--foreground-10); }
.b--foreground-05 { border-color: var(--foreground-05); }
.b--foreground-025 { border-color: var(--foreground-025); }
.b--foreground-0125 { border-color: var(--foreground-0125); }
.fill-foreground { fill: var(--foreground); }
.fill-foreground-100 { fill: var(--foreground-100); }
.fill-foreground-90 { fill: var(--foreground-90); }
.fill-foreground-80 { fill: var(--foreground-80); }
.fill-foreground-70 { fill: var(--foreground-70); }
.fill-foreground-60 { fill: var(--foreground-60); }
.fill-foreground-50 { fill: var(--foreground-50); }
.fill-foreground-40 { fill: var(--foreground-40); }
.fill-foreground-30 { fill: var(--foreground-30); }
.fill-foreground-20 { fill: var(--foreground-20); }
.fill-foreground-10 { fill: var(--foreground-10); }
.fill-foreground-05 { fill: var(--foreground-05); }
.fill-foreground-025 { fill: var(--foreground-025); }
.fill-foreground-0125 { fill: var(--foreground-0125); }
.stroke-foreground { stroke: var(--foreground); }
.stroke-foreground-100 { stroke: var(--foreground-100); }
.stroke-foreground-90 { stroke: var(--foreground-90); }
.stroke-foreground-80 { stroke: var(--foreground-80); }
.stroke-foreground-70 { stroke: var(--foreground-70); }
.stroke-foreground-60 { stroke: var(--foreground-60); }
.stroke-foreground-50 { stroke: var(--foreground-50); }
.stroke-foreground-40 { stroke: var(--foreground-40); }
.stroke-foreground-30 { stroke: var(--foreground-30); }
.stroke-foreground-20 { stroke: var(--foreground-20); }
.stroke-foreground-10 { stroke: var(--foreground-10); }
.stroke-foreground-05 { stroke: var(--foreground-05); }
.stroke-foreground-025 { stroke: var(--foreground-025); }
.stroke-foreground-0125 { stroke: var(--foreground-0125); }

.background { color: var(--background); }
.background-100 { color: var(--background-100); }
.background-90 { color: var(--background-90); }
.background-80 { color: var(--background-80); }
.background-70 { color: var(--background-70); }
.background-60 { color: var(--background-60); }
.background-50 { color: var(--background-50); }
.background-40 { color: var(--background-40); }
.background-30 { color: var(--background-30); }
.background-20 { color: var(--background-20); }
.background-10 { color: var(--background-10); }
.background-05 { color: var(--background-05); }
.background-025 { color: var(--background-025); }
.background-0125 { color: var(--background-0125); }
.bg-background { background-color: var(--background); }
.bg-background-100 { background-color: var(--background-100); }
.bg-background-90 { background-color: var(--background-90); }
.bg-background-80 { background-color: var(--background-80); }
.bg-background-70 { background-color: var(--background-70); }
.bg-background-60 { background-color: var(--background-60); }
.bg-background-50 { background-color: var(--background-50); }
.bg-background-40 { background-color: var(--background-40); }
.bg-background-30 { background-color: var(--background-30); }
.bg-background-20 { background-color: var(--background-20); }
.bg-background-10 { background-color: var(--background-10); }
.bg-background-05 { background-color: var(--background-05); }
.bg-background-025 { background-color: var(--background-025); }
.bg-background-0125 { background-color: var(--background-0125); }
.b--background { border-color: var(--background); }
.b--background-100 { border-color: var(--background-100); }
.b--background-90 { border-color: var(--background-90); }
.b--background-80 { border-color: var(--background-80); }
.b--background-70 { border-color: var(--background-70); }
.b--background-60 { border-color: var(--background-60); }
.b--background-50 { border-color: var(--background-50); }
.b--background-40 { border-color: var(--background-40); }
.b--background-30 { border-color: var(--background-30); }
.b--background-20 { border-color: var(--background-20); }
.b--background-10 { border-color: var(--background-10); }
.b--background-05 { border-color: var(--background-05); }
.b--background-025 { border-color: var(--background-025); }
.b--background-0125 { border-color: var(--background-0125); }
.fill-background { fill: var(--background); }
.fill-background-100 { fill: var(--background-100); }
.fill-background-90 { fill: var(--background-90); }
.fill-background-80 { fill: var(--background-80); }
.fill-background-70 { fill: var(--background-70); }
.fill-background-60 { fill: var(--background-60); }
.fill-background-50 { fill: var(--background-50); }
.fill-background-40 { fill: var(--background-40); }
.fill-background-30 { fill: var(--background-30); }
.fill-background-20 { fill: var(--background-20); }
.fill-background-10 { fill: var(--background-10); }
.fill-background-05 { fill: var(--background-05); }
.fill-background-025 { fill: var(--background-025); }
.fill-background-0125 { fill: var(--background-0125); }
.stroke-background { stroke: var(--background); }
.stroke-background-100 { stroke: var(--background-100); }
.stroke-background-90 { stroke: var(--background-90); }
.stroke-background-80 { stroke: var(--background-80); }
.stroke-background-70 { stroke: var(--background-70); }
.stroke-background-60 { stroke: var(--background-60); }
.stroke-background-50 { stroke: var(--background-50); }
.stroke-background-40 { stroke: var(--background-40); }
.stroke-background-30 { stroke: var(--background-30); }
.stroke-background-20 { stroke: var(--background-20); }
.stroke-background-10 { stroke: var(--background-10); }
.stroke-background-05 { stroke: var(--background-05); }
.stroke-background-025 { stroke: var(--background-025); }
.stroke-background-0125 { stroke: var(--background-0125); }

.primary { color: var(--primary); }
.primary-100 { color: var(--primary-100); }
.primary-90 { color: var(--primary-90); }
.primary-80 { color: var(--primary-80); }
.primary-70 { color: var(--primary-70); }
.primary-60 { color: var(--primary-60); }
.primary-50 { color: var(--primary-50); }
.primary-40 { color: var(--primary-40); }
.primary-30 { color: var(--primary-30); }
.primary-20 { color: var(--primary-20); }
.primary-10 { color: var(--primary-10); }
.primary-05 { color: var(--primary-05); }
.primary-025 { color: var(--primary-025); }
.primary-0125 { color: var(--primary-0125); }
.bg-primary { background-color: var(--primary); }
.bg-primary-100 { background-color: var(--primary-100); }
.bg-primary-90 { background-color: var(--primary-90); }
.bg-primary-80 { background-color: var(--primary-80); }
.bg-primary-70 { background-color: var(--primary-70); }
.bg-primary-60 { background-color: var(--primary-60); }
.bg-primary-50 { background-color: var(--primary-50); }
.bg-primary-40 { background-color: var(--primary-40); }
.bg-primary-30 { background-color: var(--primary-30); }
.bg-primary-20 { background-color: var(--primary-20); }
.bg-primary-10 { background-color: var(--primary-10); }
.bg-primary-05 { background-color: var(--primary-05); }
.bg-primary-025 { background-color: var(--primary-025); }
.bg-primary-0125 { background-color: var(--primary-0125); }
.b--primary { border-color: var(--primary); }
.b--primary-100 { border-color: var(--primary-100); }
.b--primary-90 { border-color: var(--primary-90); }
.b--primary-80 { border-color: var(--primary-80); }
.b--primary-70 { border-color: var(--primary-70); }
.b--primary-60 { border-color: var(--primary-60); }
.b--primary-50 { border-color: var(--primary-50); }
.b--primary-40 { border-color: var(--primary-40); }
.b--primary-30 { border-color: var(--primary-30); }
.b--primary-20 { border-color: var(--primary-20); }
.b--primary-10 { border-color: var(--primary-10); }
.b--primary-05 { border-color: var(--primary-05); }
.b--primary-025 { border-color: var(--primary-025); }
.b--primary-0125 { border-color: var(--primary-0125); }
.fill-primary { fill: var(--primary); }
.fill-primary-100 { fill: var(--primary-100); }
.fill-primary-90 { fill: var(--primary-90); }
.fill-primary-80 { fill: var(--primary-80); }
.fill-primary-70 { fill: var(--primary-70); }
.fill-primary-60 { fill: var(--primary-60); }
.fill-primary-50 { fill: var(--primary-50); }
.fill-primary-40 { fill: var(--primary-40); }
.fill-primary-30 { fill: var(--primary-30); }
.fill-primary-20 { fill: var(--primary-20); }
.fill-primary-10 { fill: var(--primary-10); }
.fill-primary-05 { fill: var(--primary-05); }
.fill-primary-025 { fill: var(--primary-025); }
.fill-primary-0125 { fill: var(--primary-0125); }
.stroke-primary { stroke: var(--primary); }
.stroke-primary-100 { stroke: var(--primary-100); }
.stroke-primary-90 { stroke: var(--primary-90); }
.stroke-primary-80 { stroke: var(--primary-80); }
.stroke-primary-70 { stroke: var(--primary-70); }
.stroke-primary-60 { stroke: var(--primary-60); }
.stroke-primary-50 { stroke: var(--primary-50); }
.stroke-primary-40 { stroke: var(--primary-40); }
.stroke-primary-30 { stroke: var(--primary-30); }
.stroke-primary-20 { stroke: var(--primary-20); }
.stroke-primary-10 { stroke: var(--primary-10); }
.stroke-primary-05 { stroke: var(--primary-05); }
.stroke-primary-025 { stroke: var(--primary-025); }
.stroke-primary-0125 { stroke: var(--primary-0125); }

.text-normal { color: var(--text-normal); }
.text-normal-100 { color: var(--text-normal-100); }
.text-normal-90 { color: var(--text-normal-90); }
.text-normal-80 { color: var(--text-normal-80); }
.text-normal-70 { color: var(--text-normal-70); }
.text-normal-60 { color: var(--text-normal-60); }
.text-normal-50 { color: var(--text-normal-50); }
.text-normal-40 { color: var(--text-normal-40); }
.text-normal-30 { color: var(--text-normal-30); }
.text-normal-20 { color: var(--text-normal-20); }
.text-normal-10 { color: var(--text-normal-10); }
.text-normal-05 { color: var(--text-normal-05); }
.text-normal-025 { color: var(--text-normal-025); }
.text-normal-0125 { color: var(--text-normal-0125); }

.text-reversed { color: var(--text-reversed); }
.text-reversed-100 { color: var(--text-reversed-100); }
.text-reversed-90 { color: var(--text-reversed-90); }
.text-reversed-80 { color: var(--text-reversed-80); }
.text-reversed-70 { color: var(--text-reversed-70); }
.text-reversed-60 { color: var(--text-reversed-60); }
.text-reversed-50 { color: var(--text-reversed-50); }
.text-reversed-40 { color: var(--text-reversed-40); }
.text-reversed-30 { color: var(--text-reversed-30); }
.text-reversed-20 { color: var(--text-reversed-20); }
.text-reversed-10 { color: var(--text-reversed-10); }
.text-reversed-05 { color: var(--text-reversed-05); }
.text-reversed-025 { color: var(--text-reversed-025); }
.text-reversed-0125 { color: var(--text-reversed-0125); }

.f8 {
  font-size: 0.625.rem;
}
